.card {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px !important;
  break-inside: avoid;

  i {
    color: white;
    position: absolute;
    right: 0;
    padding: 10px;
    cursor: pointer;
    display: none;
  }

  &:hover {
    i {
      display: inline-block;
    }
  }
}

.card > shared-lazy-image {
  grid-row: 1 / -1;
  grid-column: 1;
}
